<% content_for :page_title do %>
  <%= plural_resource_name(Spree::City) %>
<% end %>

<div data-hook="state" class="form-group">
  <%= label_tag :state, Spree.t(:state) %>
  <select id="state" class='observe_field select2' data-base-url="<%=admin_cities_path(format: :js) %>?state_id=" data-update="#city-list">
    <option value="">Semua provinsi</option>
    <%= options_from_collection_for_select(@states, :id, :name) %>
  </select>
</div>

<div id="city-list" data-hook>
  <%= render partial: 'city_list'%>
</div>
