<h1><%= t(:trending_product) %></h1>

<table class="table">
  <tr data-hook="name">
    <th><%= t(:name) %></th>
    <td>
      <%= @trending_product.name %>
    </td>
  </tr>
  <tr data-hook="body">
    <th><%= t(:body) %></th>
    <td>
      <%= @trending_product.body %>
    </td>
  </tr>
  <tr data-hook="link_url">
    <th><%= t(:link_url) %></th>
    <td>
      <%= @trending_product.link_url %>
    </td>
  </tr>
  <tr data-hook="published">
    <th><%= t(:published) %></th>
    <td>
      <%= @trending_product.published ? t(:y) : t(:n) %>
    </td>
  </tr>
  <tr data-hook="image_file_name">
    <th><%= t(:image_file_name) %></th>
    <td>
      <%= @trending_product.image_file_name %>
    </td>
  </tr>
  <tr data-hook="position">
    <th><%= t(:position) %></th>
    <td>
      <%= @trending_product.position %>
    </td>
  </tr>
</table>

<p>
  <%= link_to_edit @trending_product, class: 'edit_trending_product' %> <%= t(:or) %>
  <%= link_to t(:back), collection_url %>
</p>
