<% if trending_product.present? %>
  <div class="container-fluid">
    <div class="trending-wrap">
      <div class="title-content">
        <h1>Trending Now</h1>
        <p>Temukan Gaya Terbaikmu Disini</p>
        <div class="separator"></div>
      </div>
      <div class="container-fluid">
        <div class="row trending-img-wrap">
          <div class="col-md-3">
            <div class="img-trending-wrap">
              <% if (trending_1 = trending_product.get_by_position(1)).present? %>
                <%= link_to url_for(trending_1.link_url) do %>
                  <div class="img-trending" style="background-image: image_path('<%= trending_1.trending_product_image.url%>');">
                    <div class="text"><%= trending_1.name%><br><hr></div>
                    <div class="overlay"></div>
                  </div>
                <% end %>
              <% else %>
                <div class="img-trending" style="background-image: image_path('');">
                  <div class="text">Position 1<br><hr></div>
                    <div class="overlay"></div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <div class="img-trending-wrap">
                  <% if (trending_2 = trending_product.get_by_position(2)).present? %>
                    <%= link_to url_for(trending_2.link_url) do %>
                      <div class="img-trending img-trending-half" style="background-image: image_path('<%= trending_2.trending_product_image.url%>');">
                        <div class="text"><%= trending_2.name%><br><hr></div>
                        <div class="overlay"></div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="img-trending img-trending-half" style="background-image: image_path('');">
                      <div class="text">Position 2<br><hr></div>
                      <div class="overlay"></div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-trending-wrap">
                  <% if (trending_3 = trending_product.get_by_position(3)).present? %>
                    <%= link_to url_for(trending_3.link_url) do %>
                      <div class="img-trending img-trending-half" style="background-image: image_path('<%= trending_3.trending_product_image.url%>');">
                        <div class="text"><%= trending_3.name%><br><hr></div>
                        <div class="overlay"></div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="img-trending img-trending-half" style="background-image: image_path('');">
                      <div class="text">Position 3<br><hr></div>
                      <div class="overlay"></div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
             <div class="row">
              <div class="col-md-3">
                <div class="img-trending-wrap">
                  <% if (trending_4 = trending_product.get_by_position(4)).present? %>
                    <%= link_to url_for(trending_4.link_url) do %>
                      <div class="img-trending img-trending-half" style="background-image: image_path('<%= trending_4.trending_product_image.url%>');">
                       <div class="text"><%= trending_4.name%><br><hr></div>
                       <div class="overlay"></div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="img-trending img-trending-half" style="background-image: image_path('');">
                     <div class="text">Position 4<br><hr></div>
                     <div class="overlay"></div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="img-trending-wrap">
                  <% if (trending_5 = trending_product.get_by_position(5)).present? %>
                    <%= link_to url_for(trending_5.link_url) do %>
                      <div class="img-trending img-trending-half" style="background-image: image_path('<%= trending_5.trending_product_image.url%>');">
                       <div class="text"><%= trending_5.name%><br><hr></div>
                       <div class="overlay"></div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="img-trending img-trending-half" style="background-image: image_path('');">
                     <div class="text">Position 5<br><hr></div>
                     <div class="overlay"></div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-trending-wrap">
                  <% if (trending_6 = trending_product.get_by_position(6)).present? %>
                    <%= link_to url_for(trending_1.link_url) do %>
                      <div class="img-trending img-trending-half" style="background-image: image_path('<%= trending_6.trending_product_image.url%>');">
                       <div class="text"><%= trending_6.name%><br><hr></div>
                       <div class="overlay"></div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="img-trending img-trending-half" style="background-image: image_path('');">
                     <div class="text">Position 6<br><hr></div>
                     <div class="overlay"></div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
